<div class="ribbon env-{{settings.environment}}">
    {{#if buildBrief.buildNumber}}<span class="build-number">{{buildBrief.buildNumber}}</span> / {{/if}} <span class="build-timestamp">{{moment buildBrief.timestamp "MMM DD HH:mm"}}</span>
    <br>
    <span class="target-environment">{{settings.environment}}</span>
</div>
