language: node_js
node_js:
  - '0.8'
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-madlib-webapp' ]; then cd .. && eval "mv $currentfolder generator-madlib-webapp" && cd generator-madlib-webapp; fi

