<div class="container">
    <div class="page-header">
        <h1>Code documentation</h1>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>A developers favorite activity, documenting your code. Ask any developer and they will tell you they hate to do it, but most of them will agree with you that it's important. BAT comes with a Grunt file setup to use YuiDOC so if you document your code nicely it will result in a nice documentation website in the doc folder when doing a dist build. </p><p>To help you as a developer, when using the sub-generators to create views, models and collections a part of the documentation will be prefilled for you! Just add documentation for your function and your good to go!</p>

            <div class="page-header">
                <h3>See it in action</h3>
            </div>
            <p>After you've run <code>grunt doc</code> you should be able to see the documentation of this demo project <a href="../doc" target="_blank">here</a>.
        </div>
        <div class="col-md-5">
            <a href="http://geek-and-poke.com/geekandpoke/2013/12/3/yesterdays-regex/" target="_blank">
                <figure>
                    <img src="style/images/documentation.png" class="img-responsive" alt="Documenting....">
                    <figcaption>© 2013 geek-and-poke.com CC-BY-3.0</figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>
