<div class="container">
    <div class="page-header">
        <h1>Building your application</h1>
    </div>
    <p>BAT uses Grunt to build your application. The build file comes with two default build tasks:</p>

    <div class="page-header">
        <h3>Default</h3>
        <code>grunt</code>
    </div>
    <p>This task will create an build ready for deployment to an (production) environment. It will run the following tasks:</p>
    <ul>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-clean#readme">Clean</a>:
            remove your previously built build results from the distribution artifact destination directory ('<code>dist/</code>')
        </li>
        <li>
            <a href="https://github.com/jmreidy/grunt-browserify#readme">Browserify</a>:
            compile and bundle your code
        </li>
        <li>Uglify: minify and uglify the bundle file</li>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-copy#readme">Copy</a>:
            copy your build bits that needs no transformation; your style assets and i18n files
        </li>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-compass#readme">Compass</a>:
            compile your sass to bundled css, 'compressed' style
        </li>
        <li>String-replace: add cache buster to bundle script tag in index.html</li>
        <li>writeBuildFile: generate a build number file</li>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-yuidoc#readme">YuiDoc</a>:
            generate your code's documentation
        </li>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-compress#readme">Compress</a>:
            create your distribution artifacts in '<code>dist/</code>'; a zip file containing your minified app, and a zip file containing your app's documenation
        </li>
    </ul>


    <div class="page-header">
        <h3>Debug</h3>
        <code>grunt debug</code>
    </div>
    <p>This task will create an build ready for deployment to an (production) environment. It will run the following tasks:</p>
    <ul>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-clean#readme">Clean</a>:
            remove your previously built build results from the distribution artifact destination directory ('<code>dist/</code>')
        </li>
        <li>
            <a href="https://github.com/jmreidy/grunt-browserify#readme">Browserify</a>:
            compile and bundle your code in debugging mode; generates source maps
        </li>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-copy#readme">Copy</a>:
            copy your build bits that needs no transformation; your style assets and i18n files
        </li>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-compass#readme">Compass</a>:
            compile your sass to bundled css, 'nested' style; generate source maps
        </li>
        <li>String-replace: add cache buster to bundle script tag in index.html</li>
        <li>writeBuildFile: generate a build number file</li>
        <li>
            <a href="https://github.com/gruntjs/grunt-contrib-compress#readme">Compress</a>:
            create your distribution artifacts in '<code>dist/</code>'; a zip file containing your as-is app in debugging mode
        </li>
    </ul>

</div>
