<div class="container">
    <div class="page-header">
        <h1>Code documentation</h1>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>A developers favorite activity, documenting your code. Ask any developer and they will tell you they hate to do it, but most of them will agree with you that it's important. BAT comes with a Grunt file setup to use YuiDOC so if you document your code nicely it will result in a nice documentation website in the doc folder when doing a dist build. </p><p>To help you as a developer, when using the sub-generators to create views, models and collections a part of the documentation will be prefilled for you! Just add documentation for your function and your good to go!</p>

            <div class="page-header">
                <h3>Custom YuiDOC</h3>
            </div>
            <p>BAT uses a slighty adjusted version of YuiDOC. The standard version of YuiDOC has support for both CoffeeScript and JavaScript but not for both mixed in one project. Since YuiDOC is stable enough and it does what it needs to do, we decided to branch it and create a version which does support a mix and match of CoffeeScript and JavaScript in one project. We did a pull request on the original repo but sadly enough they haven't done anything with it yet as of this point.</p>
            <p>Since we are using a custom version, we also branched grunt-contrib-yuidoc since the dependency on YuiDOC is handled there to make sure it uses our custom version. And now we are using our own version anyway to decided to make it more awesome as well, we added an extra key for YuiDOC: "@moduletype". This way using our own theme for YuiDOC we can put our views, models and collections under seperate tabs.</p>

            <div class="page-header">
                <h3>See it in action</h3>
            </div>
            <p>Running this from your dist folder after using the generator? See the documentation of this demo project</p>
            <a href="../doc" class="btn btn-primary" role="button" target="_blank">Documentation</a>

        </div>
        <div class="col-md-5">
            <a href="http://geek-and-poke.com/" target="_blank">
                <img src="style/images/documenting.jpg" class="img-responsive" alt="Documenting...." />
            </a>
        </div>
    </div>
</div>
