<div class="container-fluid etalage" style="background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%) ;">
    <div class="container">
        <h1>Backbone Application Template</h1>
        <h3>"Design is not just what it looks like and feels like. Design is how it works."</h3>
    </div>
</div>
<div id="introduction" class="container">
    <div class="page-header">
        <h1>Introduction</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna sapien, varius eu sodales a, aliquet nec orci. Nam tincidunt justo ac arcu dictum, a feugiat ligula volutpat. Cras malesuada magna id enim molestie ultricies. Vivamus nec feugiat orci, aliquam egestas libero. Praesent vel massa eu ligula lobortis dignissim et quis dolor. Etiam a lorem vel nisl pellentesque porttitor non sit amet augue. Aliquam at pharetra sem. Maecenas blandit sit amet ipsum at rhoncus. Fusce et turpis posuere sem fermentum laoreet. Donec ut tellus cursus, eleifend nunc eget, ornare eros. Curabitur eu cursus metus. Vivamus ut dolor id tortor blandit aliquam. Sed eget tristique sapien, vel tristique massa. Proin a magna at ante lacinia tristique.</p>
</div>
