<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= _.slugify(packageName) %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <link href="style/app.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div id="navigation">
            <!-- navigation view will be loaded here -->
        </div>
        <div id="main-content">
            <!-- main views will be loaded here -->
        </div>
        <script src="bundle.min.js"></script>
    </body>
</html>
